<mat-progress-bar mode="indeterminate" *ngIf="loading" class="modal-loading"></mat-progress-bar>
<form [formGroup]="createApplicationForm">

  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Submit a new application</h1>
  </div>

<div mat-dialog-content>

  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="appType" class="full-width margin-botton">
    <mat-button-toggle value="Leasing" aria-label="Text align center" (click)="appType = 'Leasing'">
      Leasing
    </mat-button-toggle>
    <mat-button-toggle value="Listing" aria-label="Text align center" (click)="appType = 'Listing'">
      Listing 
    </mat-button-toggle>
    <mat-button-toggle value="Buying" aria-label="Text align center" (click)="appType = 'Buying'">
      Buying
    </mat-button-toggle>
  </mat-button-toggle-group>
  <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
  <!-- <div *ngIf="group.value == 'Sales'">
    <mat-radio-group class="full-width" value="Listing">
      <mat-radio-button value="Listing" class="margin" (click)="saleType = 'Listing'">Listing</mat-radio-button>
      <mat-radio-button value="Buying" class="margin" (click)="saleType = 'Buying'">Buying</mat-radio-button>
    </mat-radio-group>
  </div> -->
  <div fxLayout="row"  fxLayoutGap="10px">
    <mat-form-field class="full-width" fxFlex="70">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
      <mat-icon matSuffix>name</mat-icon>
      <mat-error *ngIf="createApplicationForm.controls['address'].errors && createApplicationForm.controls['address'].errors.required">Required</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <mat-label>TAS Revenue</mat-label>
      <span matPrefix>$ &nbsp;</span>
      <input type="number" matInput formControlName="price">
    </mat-form-field>

  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
      <div *ngIf="appType == 'Leasing'">
        <mat-checkbox color="primary" formControlName="moneyIn">Money In</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="approved">Approved</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="denied">Denied</mat-checkbox>
      </div>
      <div *ngIf="appType == 'Listing'">
        <mat-checkbox color="primary" formControlName="listingAgreement">Listing Agreement</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="offerExecuted">Offer Executed</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="closed">Closed</mat-checkbox>
      </div>
      <div *ngIf="appType == 'Buying'">
        <mat-checkbox color="primary" formControlName="offerOut">Offer out</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="offerExecuted">Offer Executed</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="closed">Closed</mat-checkbox>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="48">
      <div *ngIf="updating && userRole === 'Administrator'">
        <mat-checkbox color="primary" formControlName="invoiceOut">Invoice Out</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="invoicePaid">Invoice Paid</mat-checkbox><br>
        <mat-checkbox color="primary" formControlName="paid">Paid</mat-checkbox><br>
      </div>
    </div>
  </div>
          <!-- <mat-checkbox color="primary" formControlName="invoiceOut">Invoice Out</mat-checkbox>
          <mat-checkbox color="primary" formControlName="invoicePaid">Invoice Paid</mat-checkbox> -->
</div>

  <div mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end" class="margin-botton" style="padding-bottom: 0px;">
    <button mat-flat-button color="warn" *ngIf="updating" (click)="deleteApp()" ><mat-icon style="font-size: 21px; margin: 0px 5px 0px -5px;" >delete</mat-icon>Delete</button>
    <div fxFlex></div>
    <a mat-stroked-button (click)="onNoClick()" color="primary">Cancel</a>
    <button mat-flat-button color="primary" [disabled]="!createApplicationForm.valid" *ngIf="!updating" (click)="createApplication()">Create</button>
    <button mat-flat-button color="primary" [disabled]="!createApplicationForm.valid" *ngIf="updating" (click)="updateApplication()">Update</button>
    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
  </div>
</form>
<!-- <div class="loading-spinner">
    <mat-progress-spinner
    class="example-margin"
    color="white"
    mode="indeterminate"
    value="50">
    </mat-progress-spinner>
</div> -->


   
      <!-- <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <mat-form-field  fxFlex="50">
            <mat-select placeholder="Commission Type" formControlName="commissionType" (selectionChange)="onCommissionChange($event)" name="item">
              <mat-option value="Invoice">
                Invoice
              </mat-option>
              <mat-option value="Commission Form">
                Commission Form
              </mat-option>
            </mat-select>
            </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Commission Form' || commissionType === 'Invoice'">
          <mat-label>Tenant</mat-label>
          <input type="text" matInput formControlName="tenant">
        </mat-form-field>

        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Commission Form' || commissionType === 'Invoice'" >
          <mat-label>Landlord/Management Company</mat-label>
          <input type="text" matInput formControlName="landlord">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Commission Form'">
          <span matPrefix>$ &nbsp;</span>
          <mat-label>1st Month's Rent Amount</mat-label>
          <input type="number" matInput formControlName="monthRent">
        </mat-form-field>

        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Commission Form'">
          <span matPrefix>% &nbsp;</span>
          <mat-label>TAS Commission</mat-label>
          <input type="number" matInput formControlName="commissionPorcentage">
        </mat-form-field>

        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Invoice'">
          <span matPrefix>$ &nbsp;</span>
          <mat-label>Bonuses</mat-label>
          <input type="number" matInput formControlName="bonuses">
        </mat-form-field>

        <mat-form-field fxFlex="50" *ngIf="commissionType === 'Invoice'">
          <span matPrefix>% &nbsp;</span>
          <mat-label>Landlord Commission Rate</mat-label>
          <input type="number" matInput formControlName="landlordCommissionRate">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="33" *ngIf="commissionType === 'Commission Form'">
          <mat-label>Application Fees</mat-label>
          <input type="number" matInput formControlName="applicationFeeNumber" (keyup)="calculateTotal()" >
        </mat-form-field>

        <mat-form-field fxFlex="34" *ngIf="commissionType === 'Commission Form'" (keyup)="calculateTotal()">
          <span matPrefix>$ &nbsp;</span>
          <mat-label>At</mat-label>
          <input type="number" matInput formControlName="applicationFeeAmount">
        </mat-form-field>

        <mat-form-field fxFlex="33" *ngIf="commissionType === 'Commission Form'">
          <span matPrefix>$ &nbsp;</span>
          <mat-label>Total</mat-label>
          <input type="number" matInput formControlName="applicationFeeTotal">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex="100" *ngIf="commissionType === 'Commission Form'">
          <mat-label>Notes</mat-label>
          <textarea matInput
                    formControlName="notes"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div> -->