.content{
    padding: 20px;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-weight: 900;
    color: #000;
    // font-size: 16px;
  }
  
  td, th {
    width: 8% !important;
  }
  
  .mat-column-address{
    width: 20%  !important;
  }
  .mat-column-agent{
    width: 12%  !important;
  }

  .mat-column-listingAgreement .mat-checkbox-layout .mat-checkbox-label{
    line-height: 10px;
  }
  
  .fat-btn{
    margin: 4px 0px 0px;
    height: 50px;
  }
  
  .mat-button-toggle-group{
    margin-top: 5px;
  }

.mat-calendar-period-button {
    pointer-events: none;
  }
  
.mat-calendar-arrow {
    display: none;
  }

  .footer-total{    
    background: #fff;
    text-align: right;
    padding: 10px 30px;
    font-size: 14px;
    color: #565656;
    .label{
      font-weight: 900;
      margin-right: 5px;
    }
  }