<mat-progress-bar mode="indeterminate" *ngIf="loading" class="loading-top" color="warn"></mat-progress-bar><div class="full-screen">
<div class="content" style="padding: 5px;">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
        <ng-container *ngFor="let item of stats | keyvalue">
            <mat-card class="mat-elevation-z4 margin-bottom stats" style="margin: 5px;" fxFlex *ngIf="item.key < 3" >
                <div gdAreas="avatar content" gdGap="5px" gdRows="auto" gdColumns="105px auto">
                    <div gdArea="avatar" class="avatar-container">
                        <img class="avatar_lg" src="https://backend.apartmentsource.com{{item.value.avatar}}"
                            *ngIf="item.value.avatar" />
                        <img class="avatar_lg" src="'../../../../assets/avatar.svg" *ngIf="!item.value.avatar" />
                    </div>
                    <div gdArea="content"  gdGap="5px" gdAreas="header header | content content2">
                        <div gdArea="header" style="border-bottom: 1px solid #d4d4d4">
                            <h3>{{item.value.name}}<h4 style="margin: 0px;font-size: 14px;font-weight: 400;">Transactions</h4></h3>
                            <span class="medal medal-{{item.key}}">
                                {{place(item.key)}}
                                <mat-icon fontSet="fa" fontIcon="fa-medal"></mat-icon>
                            </span>
                        </div>
                        <div gdArea="content">
                            <div class="statistics">
                                <span>Closed:  </span> <span class="float-right">{{item.value.approved}}</span><br />
                                <span> Generated: </span> <span class="float-right"> {{item.value.applications}} </span> <br />
                                <!-- <span>Invoice Out: </span> <span class="float-right"> {{item.value.invoiceOut}}</span> <br /> -->
                                <!-- <span>Denied: {{item.denied}}</span><br> -->
                                <!-- <span>Price: {{item.price}}</span> -->
                            </div>
                        </div>
                        <div gdArea="content2">
                            <div class="statistics">
                                <span> Gross Rentals: </span> <span class="float-right"> {{item.value.price | currency}} </span> <br />
                                <span> Gross Sales: </span> <span class="float-right"> {{item.value.grossSales | currency}} </span> <br />
                                <!-- <span>Money In:  </span> <span class="float-right">{{item.value.moneyIn}}</span><br />
                                <span>Incoice Paid:  </span> <span class="float-right">{{item.value.invoicePaid}}</span><br /> -->
                                <!-- <span>Denied: {{item.denied}}</span><br> -->
                                <!-- <span>Price: {{item.price}}</span> -->
                            </div>
                        </div>
                    </div> 
                    
                </div>
            </mat-card>
        </ng-container>
    </div>
    <div style="padding: 5px 10px;">
        <ng-container  *ngFor="let item of stats | keyvalue">
            <div fxLayout="row" fxLayoutAlign="space-evenly stretch" style="margin-bottom: 5px;" *ngIf="item.key > 2 && item.key < 10">
                <div gdAreas="number avatar content" gdGap="5px" gdRows="auto" gdColumns="35px 35px auto"
                class="mat-elevation-z4" fxFill style="background: #fff; padding: 5px">
                    <div gdArea="number" class="number">
                        {{place(item.key)}}
                    </div>
                    <div gdArea="avatar" class="avatar-container">
                        <img class="avatar_sm" src="https://backend.apartmentsource.com{{item.value.avatar}}"
                            *ngIf="item.value.avatar" />
                        <img class="avatar_sm" src="'../../../../assets/avatar.svg" *ngIf="!item.value.avatar" />
                    </div>
                    <div gdArea="content" class="content-table">
                        <div style="text-align: left;"><b>{{item.value.name}}</b></div>
                        <div>Generated: {{item.value.applications}} </div>
                        <!-- <div>Money In: {{item.value.moneyIn}}</div> -->
                        <div>Closed: {{item.value.approved}}</div>
                        <!-- <div>Invoice Out: {{item.value.invoiceOut}}</div>
                        <div>Incoice Paid: {{item.value.invoicePaid}}</div> -->
                        <div>Gross Rentals: {{item.value.price | currency}} </div>
                        <div>Gross Sales: {{item.value.grossSales | currency}}</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container  *ngFor="let item of stats | keyvalue">
            <div fxLayout="row" fxLayoutAlign="space-evenly stretch" style="margin-bottom: 5px;" *ngIf="item.key > 9">
                <div gdAreas="number avatar content" gdGap="5px" gdRows="auto" gdColumns="35px 35px auto"
                class="mat-elevation-z4" fxFill style="background: #fff; padding: 5px">
                    <div gdArea="number" class="number">
                        {{place(item.key)}}
                    </div>
                    <div gdArea="avatar" class="avatar-container">
                        <img class="avatar_sm" src="https://backend.apartmentsource.com{{item.value.avatar}}"
                            *ngIf="item.value.avatar" />
                        <img class="avatar_sm" src="'../../../../assets/avatar.svg" *ngIf="!item.value.avatar" />
                    </div>
                    <div gdArea="content" class="content-table">
                        <div style="text-align: left;"><b>{{item.value.name}}</b></div>
                        <div>Generated: {{item.value.applications}} </div>
                        <!-- <div>Money In: {{item.value.moneyIn}}</div> -->
                        <div>Closed: {{item.value.approved}}</div>
                        <!-- <div>Invoice Out: {{item.value.invoiceOut}}</div>
                        <div>Incoice Paid: {{item.value.invoicePaid}}</div> -->
                        <div>Gross Rentals: {{item.value.price | currency}} </div>
                        <div>Gross Sales: {{item.value.grossSales | currency}}</div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>