<div class="content" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="mat-elevation-z8">
        <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
              <mat-card-content class="ion-padding">
                <mat-card-title class="ion-text-center full-width">Forgot Password</mat-card-title>
                <mat-card-subtitle class="ion-text-center full-width">Recover your password using your email address</mat-card-subtitle>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                  <!-- <mat-hint>Hint</mat-hint> -->
                  <mat-error *ngIf="forgotForm.controls['email'].errors && forgotForm.controls['email'].errors.required">Required</mat-error>
                  <mat-error *ngIf="forgotForm.controls['email'].errors && !forgotForm.controls['email'].errors.required">Please type a valid email address</mat-error>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions  class="padding">
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
                      <button mat-flat-button color="primary" [disabled]="!forgotForm.valid" fxFlex>Reset</button>
                      <a mat-stroked-button routerLink="/login" color="primary" fxFlex>Back to Login</a>
                  </div>
              </mat-card-actions>
          </form>
        </mat-card>
</div>
