<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="user">
          <!-- <a mat-list-item routerLink="/dashboard/form/ar-11">Clients</a> -->
          <a mat-list-item routerLink="/dashboard/applications-dashboard" (click)="drawer.close()">Whiteboard</a>
          <!-- <a mat-list-item routerLink="/dashboard/whiteboard" (click)="drawer.close()">Agent Stats (old)</a> -->
          <a mat-list-item routerLink="/dashboard/applications-stats" (click)="drawer.close()">Agent Stats</a>
          <a mat-list-item routerLink="/dashboard/applications" (click)="drawer.close()">Applications</a>
          <!-- <a mat-list-item routerLink="/dashboard/manage-applications" (click)="drawer.close()">Applications <span class="sub-menu">(admin)</span></a>
          <a mat-list-item routerLink="/dashboard/users" (click)="drawer.close()">Users</a> -->
          <!-- <a mat-list-item routerLink="/dashboard/manage-applications" (click)="drawer.close()" *ngIf="user.user.role.name == 'Administrator'">Applications old <span class="sub-menu">(admin)</span></a> -->
          <a mat-list-item routerLink="/dashboard/applications-admin" (click)="drawer.close()" *ngIf="user.user.role.name == 'Administrator'">Applications <span class="sub-menu">(admin)</span></a>
          <a mat-list-item routerLink="/dashboard/users" (click)="drawer.close()" *ngIf="user.user.role.name == 'Administrator'">Users</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <!-- Dashboard -->
      </span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" ><mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar color="primary">
  <span>footer</span>
</mat-toolbar> -->

