/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h4{
  color: #f0f0f0 !important;
}

.mat-toolbar.mat-primary.mat-toolbar-single-row{
  z-index: 100 !important;
  background-color: #242424 !important;
  border: 1px solid #000 !important;
}

.mat-drawer{
  background-color: #242424 !important;
}

.mat-list-base .mat-list-item{
  color: #ffffff !important;
}

.mat-toolbar{
  background-color: #242424 !important;
  border: 1px solid #000 !important;
  color: #ffffff !important;
}

.mat-card{
  background-color: #242424 !important;
  color: #ffffff !important;
}

.loading-top.mat-progress-bar{
  position: absolute;
}

.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #565656 !important;
  background-color: #333333;
  border-radius: 5px;
}

.mat-form-field-label{
  color: #919191 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background: #fff !important;
}

.mat-table{
  background: #242424 !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell, th{
  border-bottom-color: #373737 !important;
}

.mat-button-toggle-appearance-standard {
  background: #333333 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
.mat-flat-button.mat-primary:not([disabled]),
.mat-button-toggle-checked{
  background: linear-gradient(60deg, #288c62, #50a280) !important;
}

.mat-paginator{
  background-color: #242424 !important;
}

th.mat-header-cell, 
td.mat-cell, 
td.mat-footer-cell, 
th,
.mat-button-toggle-appearance-standard,
.mat-hint,
.mat-card-subtitle,
.mat-stroked-button.mat-primary,
.mat-dialog-container,
.mat-select-value,
.mat-paginator *{
  color: #fff !important;
}

.mat-dialog-container{
  background-color: #232323 !important;
}

.mat-flat-button.mat-primary[disabled]{
  background-color: #8b8b8b1f !important;
  color: #565656 !important;
}

.mat-checkbox-frame{
  border-color: #777777 !important
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
 -webkit-text-fill-color: #fff4a5 !important;
}

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/custom-theme.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.ng2-pdf-viewer-container{
    overflow-x: initial !important;
}

.page {
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .14), 0 7px 8px rgba(0, 0, 0, .28) !important;
}

.mat-sidenav-content{
  background: #000000;
  // background: #e2e2e2;
}

.textLayer{
  opacity: 0 !important;
}

button {
    outline: none !important;

    &[mat-fab] {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }
}

.mat-mini-fab.mat-accent {
    position: fixed;
    bottom: 6rem;
    right: 2.5rem;
}

// .mat-checkbox .mat-checkbox-frame {
//   border-color: transparent;
// }

// .mat-checkbox-background{
//   background: #0000
// }
// .mat-checkbox-checkmark-path {
//   stroke: #ffffff !important;
// }

input[type=radio] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  cursor: pointer;
  // outline: 2px solid #333;
  // border: 3px solid white;
  // width: 16px;
  // height: 16px;
}

input[type=radio]:checked{
  // box-sizing: border-box;
  appearance: none;
  background: url('./assets/checked_bg.jpg') no-repeat !important;
  background-position: 1px 0px !important;
  background-size: 90% !important;
}

input[type=checkbox] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  cursor: pointer;
  margin: 0px !important;
  // outline: 2px solid #333;
  // border: 3px solid white;
  // width: 16px;
  // height: 16px;
}

input[type=checkbox]:checked{
  // box-sizing: border-box;
  appearance: none;
  background: url('./assets/checked_bg.jpg') no-repeat !important;
  background-position: 1px 1px !important;
  background-size: 90% !important;
  margin: 0px !important;
}

input{
  font-family: 'Courier New', Courier, monospace;
  // font-weight: bold;
}

.comb{
  padding-left: 3px;
  font-family: 'Courier New', Courier, monospace;
  // font-weight: bold;
}
.zoom_1 .comb{
  padding-left: 3px;
}

.zoom_1\.25 .comb{
  padding-left: 5px !important;
}
.zoom_1\.50 .comb{
  padding-left: 8px !important;
}

::-webkit-inner-spin-button { display: none; }

.avatar_sm{
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

.avatar_smm{
  // max-width: 40px;
  // max-height: 40px;
  // min-width: 40px;
  // min-height: 40px;
  // border-radius: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
}

.avatar_md{
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.avatar_lg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.whiteboard-message .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}

.no-padding div.mat-form-field-wrapper{
  padding: 0em !important;
}

.bk-gradient{
  background: linear-gradient(60deg, #288c62, #50a280);
  color: #fff;
}

.mat-column-listingAgreement .mat-checkbox-layout .mat-checkbox-label{
  line-height: 16px;
}

.mat-column-offerExecuted .mat-checkbox-layout .mat-checkbox-label{
  line-height: 16px;
}