.content{
  background: #fafafa;
  // background: rgb(57,48,219);
  // background: linear-gradient(180deg, rgba(57,48,219,1) 0%, rgba(0,212,255,1) 100%);
  height: 90%;
}
mat-card{
  max-width: 30%;
}

.full-width{
  width: 100%;
}

.padding{
  padding: 0px 10px;
}
